# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# untested or unfinished projects (starting with 'x_')
x_*

# misc: documentation, ideas, scripts, etc.
README.txt
Ideen.txt
*.command
*.bat
doxygen/html